.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    .checkbox{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: var(--bgColor);
        color: var(--bgColor);
        border: 1px solid var(--borderColor-1);
        transition: var(--transition);
    }
    .checkbox.active{
        background-color: var(--secColor-1);
    }
    h3{
        font-size: .9rem;
        font-weight: 400;
        color: var(--textColor-1);
        
}
}